<div class="container">
    <div class="media-header"></div>
    <div class="content">
        <div class="display artist-info">

        </div>
        <div class="track-details">

        </div>
        <div class="track-area-vertical-layout">
            <div class="elapsed-time">
                
            </div>
            
            <div class="track-area">
                
                <div class="track">
                    <div class="track-played-area">
                        
                    </div>
                    <div class="track-unplayed-area">
                        <div class="track-current-position">
                            
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="remaining-time">
                
            </div>
        </div>
    </div>
    <div class="media-footer audio-controls">
        <div class="shuffle-button">
            <span class="material-icons md-40">
                shuffle
            </span>
        </div>
        <div class="back-button">
            <span class="material-icons md-60">
                skip_previous
            </span>
        </div>
        <div class="play-button">
            <button class="button circle-button">
                <span class="material-icons md-80">
                    play_arrow
                </span>
            </button>
        </div>
        <div class="forward-button">
            <span class="material-icons md-60">
                skip_next
            </span>
        </div>
        <div class="repeat-button">
            <span class="material-icons md-40">
                repeat
            </span>
        </div>
    </div>
</div>